body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #fff;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  background: #fff;
  height: 10vh;
  max-height: 150px;
  position: relative;
}

#events {
  position: relative;
  background: black;
  z-index: 1;
  margin: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  height: 10vh;
  max-height: 150px;
  padding-top: 8px;
}

.events-title {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  text-align: left;
  padding: 0px 0px 10px 20px;
  padding-top: 10px;
  background: transparent;
}

.vinyl-title {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
  text-align: left;
  padding: 0px 0px 10px 20px;
  background: transparent;
}

.svg-top,
.svg-bottom {
  display: block;
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.svg-top {
  top: 0;
}

.svg-bottom {
  bottom: 0;
}

.svg-top img,
.svg-bottom img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-cards,
.vinyl-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.event-cards::-webkit-scrollbar,
.vinyl-cards::-webkit-scrollbar {
  display: none;
}

.event,
.vinyl {
  margin: 0 5px;
  text-align: center;
}

.event img {
  width: auto;
  height: 25vh;
  object-fit: contain;
  max-height: 300px;
}

.vinyl img {
  width: auto;
  height: 20vh;
  object-fit: contain;
  max-height: 250px;
}

.event-caption {
  font-size: auto;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  max-width: 500px;
  margin: 0 auto;
}

.events-title,
.event {
  padding-left: 20px;
}

.vinyl {
  padding-left: 20px;
}

.vinyl-caption {
  font-size: auto;
  color: #000;
  text-align: center;
  padding: 5px 0;
  max-width: 500px;
  margin: 0 auto;
}

.social-media-icons.desktop a {
  text-decoration: none;
}

.social-media-icons.desktop {
  position: absolute;
  top: 10px;
  right: 10px;
}

.social-media-icons.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .social-media-icons.desktop {
    display: none;
  }

  .social-media-icons.mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3px;
    padding: 5px 0;
  }
}

.social-media-icons img {
  height: 4.2vh;
  max-height: 40px;
  width: auto;
}

.countdown-timer {
  color: red;
  text-align: center;
  padding: 10px 0;
  display: block;
  font-size: auto;
}

footer {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.vinyl .middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 5px; /* Add padding to the top */
}

.vinyl .middle .album-info {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5vh; /* Using vh units for scaling */
}

.vinyl .middle .album-title {
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 10px;
  font-size: 1.5vh; /* Using vh units for scaling */
}

.vinyl .middle .track-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vinyl .middle .purchase-link {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -5px;
}

.vinyl .middle .purchase-link .buy-box {
  background-color: transparent;
  padding: 1px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinyl .middle .purchase-link .buy-image {
  width: 40px;
  height: auto;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .vinyl .middle .album-info {
    font-size: 1.5vh; /* Adjusted scaling for smaller screens */
    margin-top: -5px;
    text-align: center;
  }

  .vinyl .middle .album-title {
    font-size: 1.5vh; /* Adjusted scaling for smaller screens */
    margin-top: -5px;
  }

  .vinyl .middle .track-list li {
    font-size: 1.2vh; /* Adjusted scaling for smaller screens */
  }

  .vinyl .middle .icon-link img {
    max-width: 15%;
    max-height: 15%;
  }

  .vinyl .middle .purchase-link {
    margin-top: -5px;
  }

  .vinyl .middle .purchase-link .buy-image {
    margin-top: 5px;
    width: 35px;
  }
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  gap: 10px;
}

.vinyl .container:hover .image {
  opacity: 0.05;
}

.event .container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.event .container.tapped .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  transition: 0.5s ease;
}

.icon-link {
  display: block;
  margin: 5px 0;
}

.middle .icon-link img {
  width: auto;
  height: 7vh;
  max-height: 100%;
  max-height: 125px;
}

@media screen and (max-width: 768px) {
  .icon-link img {
    height: 20vh;
    max-width: 100%;
  }

  .middle {
    gap: 8px;
    flex-direction: column;
  }
}

.disabled-link {
  pointer-events: none;
}

.tapped .image {
  opacity: 0.3;
}

.tapped .middle {
  opacity: 1;
}

#mc_embed_signup {
  text-align: center;
  padding: 1px;
  padding-bottom: 10px;
}

#mc_embed_signup_scroll {
  display: inline-block;
}

.mc-field-group {
  margin-bottom: 10px;
}

#mc-embedded-subscribe-form .email {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
}

#mc-embedded-subscribe-form .button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#mc-embedded-subscribe-form .button:hover {
  background-color: #555;
}

#mce-error-response,
#mce-success-response {
  color: red;
  padding: 10px 0;
  width: 250px;
  margin: 0 auto;
}

footer {
  background: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1px;
  font-weight: 700;
}

.footer-content p {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 200;
}

#mc_embed_signup .mc-field-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#mc_embed_signup .email {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
}

#mc_embed_signup .button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#mc_embed_signup .button img {
  max-width: 100%;
  max-height: 100%;
}

.footer-content .social-media-icons {
  margin-top: 0px;
}

.footer-content .social-media-icons.mobile {
  display: none;
}

.footer-content .social-media-icons.mobile a img {
  width: 40px;
  height: 40px;
}

.footer-content p {
  margin-top: 1px;
  font-size: 0.875rem;
  color: #555;
}

#mc_embed_signup .response {
  margin-top: 10px;
  font-size: 0.875rem;
}

#mc_embed_signup .response.error {
  color: red;
}

#mc_embed_signup .response.success {
  color: green;
}

@media screen and (max-width: 768px) {
  .social-media-icons.desktop {
    display: none;
  }

  .social-media-icons.mobile {
    display: flex !important;
    justify-content: center;
    gap: 3px;
    padding: 5px 0;
  }
}

.valid-email {
  background-color: lightgreen;
}

.invalid-email {
  background-color: palevioletred;
}

footer {
  padding-top: 30px;
  padding-bottom: 10px;
}

#mc-embedded-subscribe-form .button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  width: auto;
}

#mc-embedded-subscribe-form .button img {
  display: block;
  max-width: 100%;
  max-height: 10px;
  height: auto;
}

@media screen and (max-width: 768px) {
  #mc-embedded-subscribe-form .mc-field-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #mc-embedded-subscribe-form .email {
    flex: 1;
    max-width: calc(100% - 58px);
  }

  #mc-embedded-subscribe-form .button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
    max-width: 48px;
  }

  #mc-embedded-subscribe-form .button img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
